header, .logo, .login {
    display: flex;
}

header {
    justify-content: space-around;
    height: 70px;
    background-color: transparent;
    align-items: center;
}

.logo img, .login img, .carrito img{
    height: 50px;
    margin-right: 10px;
}

.logo, .login {
    align-items: center;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.nav-header a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:aqua
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(/Images/img1.jpg);
    background-size: cover;
}
